.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

td {
  padding: 0.2em;
}

span.status_complete {
  background-color: rgb(77, 236, 77);
}

span.status_running {
  background-color: rgb(240, 197, 57);
}

span.status_available {
  background-color: rgb(221, 95, 78);
}

span.status_back {
  border-radius: 0.2em;
  padding: 0.2em;
}
